.card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 150px;
    margin: 50px;
div{
    padding: 20px 0 ;
}
button{
    padding: 20px;
    margin: 10px 0;
    
}
}